---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Briana",
  country: "USA",
  occupation: "homeschool student",
  hobbies: ["Writing", "Drawing", "Engineering", "Cooking"],
};

const skills = ["Writing", "3D Design", "Video Editing", "Graphic Design", "Time Management", "Organization"];
---

<BaseLayout pageTitle={pageTitle}>
  <img src="/assets/OwnerIcon.png" alt="A picture of my avatar" class="about-me-image"></img>
  <h2 class = "AboutMeHeader">🌸 ChibiChaiTea 🌸</h2>
  <p>Hiii! I'm Briana, a highschool student with a passion for Nuclear Engineering and all things related to S.T.E.M.
    I love creating cute things, organizing, and striving to be the best I can be and encouraging others to do the same!
  </p>
<ul>
  {identity.hobbies.length >= 10 &&
    <li>My main hobbies are {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}, and {identity.hobbies[3]}</li>
  }
</ul>
<p>Some of my skills include:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
 <p>Sometimes, I take commissions that include my skills, so if you're interested, feel free to reach out to me! I'm always looking for new opportunities 
 to learn and grow, and I hope to connect with others who share my interests and passions. </p>

 <p>You can contact me via email: </p>
  
  <p class = "email-link">briana.r.lee.09@gmail.com</p>
</BaseLayout>

<style>
  .about-me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .AboutMeHeader {
    text-align: center;
  }
</style>