---
const pageTitle = "About Me";

const identity = {
  firstName: "Briana",
  country: "the USA",
  occupation: "homeschool student",
  hobbies: ["Writing", "Drawing", "Engineering"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing", "Making Anime/Manga", "3D Printing"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>

	<style>
      h1 {
        color: rgb(40, 126, 32);
        font-size: 4rem;
      }
	  .skills {
    	color: rgb(68, 136, 68);
    	font-weight: bold;
  }
	</style>
	</head>
	<body>
<body>
    <a href="/">Home Page</a>
    <h1>{pageTitle}</h1>
    <h2>ChibiTea</h2>

	<p>Hiiiiii! I'm ChibiTea, a highschool student with a passion for Nuclear Engineering! My (actual) name is {identity.firstName}.</p>
<ul>
  <li>I live in {identity.country} and I'm a {identity.occupation}.</li>
  {identity.hobbies.length >= 10 &&
    <li>Three of my main hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li>{skill}</li>)}
</ul>
Also, I almost forgot to mention I run an Etsy Shop (ChibiTeaDesigns), so feel free stop by and have a look!:D
</p>
</body>
	</body>
</html>
