---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Briana",
  country: "the USA",
  occupation: "homeschool student",
  hobbies: ["Writing", "Drawing", "Engineering"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing", "Making Anime/Manga", "3D Printing"];
---

<BaseLayout pageTitle={pageTitle}>
  <img src="/assets/NewChaiAvatarICON.png" alt="A picture of my avatar" class="about-me-image"></img>
  <h2 class = "AboutMeHeader">ChibiTea :)</h2>
  <p>Hiiiiii! I'm Briana (ChibiTea), a highschool student with a passion for Nuclear Engineering and all things related to science! I love food, cute fuzzy animals, (especially dogs, rabbits, and Japanese flying dwarf squirrels!) and settling down on the couch with a good book!</p>
<ul>
  {identity.hobbies.length >= 10 &&
    <li>Three of my main hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
Also, I run an Etsy Shop (ChibiTeaDesigns), so feel free stop by and have a look! :D
</BaseLayout>

<style>
  .about-me-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    alighn-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    font-weight: bold;
    color: #3f83d1;
  }
  .AboutMeHeader {
    text-align: center;
  }
</style>