---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
  firstName: "Briana",
  country: "the USA",
  occupation: "homeschool student",
  hobbies: ["Writing", "Drawing", "Engineering"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing", "Making Anime/Manga", "3D Printing"];

const skillColor = "#146112";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>ChibiTea</h2>
  <p>Hiiiiii! I'm ChibiTea, a highschool student with a passion for Nuclear Engineering! My real name is {identity.firstName}. I love food, cute fuzzy animals, (especially dogs, rabbits, and Japanese flying dwarf squirrels!) and settling down on the couch with a good book!</p>
<ul>
  {identity.hobbies.length >= 10 &&
    <li>Three of my main hobbies are: {identity.hobbies[0]}, {identity.hobbies[1]}, and {identity.hobbies[2]}</li>
  }
</ul>
<p>My skills are:</p>
<ul>
  {skills.map((skill) => <li class="skill">{skill}</li>)}
</ul>
Also, I almost forgot to mention I run an Etsy Shop (ChibiTeaDesigns), so feel free stop by and have a look!:D
</BaseLayout>

	<style define:vars={{skillColor}}>
      h1 {
        color: rgb(13, 59, 34);
        font-size: 4rem;
      }
	  .skill {
    	color: var(--skillColor);
    	font-weight: bold;
  }
	</style>