---
import { addIssueToContext } from 'astro:schema';
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
<h2 class="blogHeader">Book Articles</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=> post.frontmatter.BookPost)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Studying</h2>
  		<ul>
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Study)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Food</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Food)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Lifestyle</h2>
  		<h3 class ="blogHeader">Home</h3>
			<ul>	
			  {allPosts
			  .filter((post:any)=>post.frontmatter.Lifestyle && post.frontmatter.Home)
			  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
			</ul>
		<h3 class ="blogHeader">Self Care</h3>
			<ul>	
			  {allPosts
			  .filter((post:any)=>post.frontmatter.Lifestyle && post.frontmatter.SelfCare)
			  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
			</ul>
		<h3 class ="blogHeader">Money Stuff</h3>
			<ul>	
			  {allPosts
			  .filter((post:any)=>post.frontmatter.Lifestyle && post.frontmatter.Money)
			  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
			</ul>

	<h2 class="blogHeader">S.T.E.M.</h2>
  		<ul>
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Stem)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
</BaseLayout>
