---
import { addIssueToContext } from 'astro:schema';
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
<h2 class="blogHeader">Book Articles</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=> post.frontmatter.BookPost)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Studying</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Study)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Food</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Food)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>

<h2 class="blogHeader">Lifestyle</h2>
  		<ul>	
		  {allPosts
		  .filter((post:any)=>post.frontmatter.Aesthetics)
		  .map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
		</ul>
		
</BaseLayout>
